.balance {
  background: #fff;
  text-align: center;

  .card {
    border: unset;
    box-shadow: none;

    div[class~="ant-card-body"] {
      @media screen and (max-width: 450px) {
        padding: 20px 8px;
      }

      div[class~="ant-statistic-title"] {
        @media screen and (max-width: 768px) {
          margin-bottom: 0;
        }

        @media screen and (max-width: 450px) {
          font-size: 14px;
        }
      }

      span {
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }

        @media screen and (max-width: 450px) {
          font-size: 16px;
        }
      }

      .income {
        span {
          color: #3f8600;
        }
      }
    }
  }

  .divider {
    margin: 24px auto 0;
    width: 90%;
    min-width: 80%;
    margin-bottom: 0;
  }
}
