.transaction {
  background: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin: 24px auto 0;
  padding: 16px;

  .date {
    margin-bottom: 0;
  }

  .income,
  .expense {
    font-weight: 500;
  }

  .income {
    color: #29cc90;
  }

  .expense {
    color: #f6144a;
  }
}
